* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-color: #eee;
    -webkit-font-smoothing: antialiased; /* Mejora en Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Mejora en Firefox */
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 3px solid #ccc;
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.no-scroll {
    overflow: hidden;
}

/*****************************************/
/*Estilos para elementos html especificos*/
/*****************************************/
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/********/
/*Header*/
/********/
.header-principal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navegacion-principal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9375rem 1.875rem;/*15 y 30*/
}

#btn-menu-desplegable {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 1.875rem;/*30*/
    color: #fff;
    padding: 0.46875rem;/*7.5*/
    z-index: 999;
}

#btn-menu-desplegable i {
    transition: transform 0.5s ease, opacity 0.5s ease;/*Animación suave para el cambio*/
}

#btn-menu-desplegable .fa-times {
    transform: rotate(180deg);/*Rota la "X"*/
}

.logo {
    width: 6.5625rem;/*105*/
    height: 6.5625rem;/*105*/
}

.logo a,
.logo a img {
    display: block;
    width: 100%;
    height: 100%;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    gap: 0.9375rem;/*15*/
}

.nav-menu ul li a {
    color: #fff;
    font-size: 1.3125rem;/*21*/
    font-weight: 700;
    display: block;
    padding: 7.5px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
    color: #ffc107;
}

/***********/
/*Secciones*/
/***********/
.section {
    padding: 15px 90px;
}

.seccion-header {
    margin-bottom: 15px;
}

.seccion-header h1 {
    font-size: 30px;
}

/*Seccion hero*/
.seccion-hero {
    height: 100vh;
    background-image: url('img/imagen-hero-desktop.avif');
    background-color: rgba(0, 0, 0, .5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    padding: 15px 90px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    width: auto;
    text-transform: uppercase;
}

.hero-content p {
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.hero-content h2 {
    font-family: "Orbitron", Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #fff;
    line-height: 60px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

/*Seccion destacadas*/
.seccion-destacadas {
    display: flex;
    gap: 15px;
}

.tarjeta-bebida {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 7.5px;
}

.imagen-destacada {
    position: relative;
    width: 100%;
}

.imagen-destacada img {
    width: 100%;
    display: block;
}

.imagen-destacada span {
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    background-color: #f57c00;
    color: #fff;
    padding: 3.75px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
    border: 1px solid #000;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 3);
}

.tarjeta-bebida h2 {
    font-size: 27px;
}

.info-bebida {
    display: flex;
    justify-content: space-between;
    gap: 7.5px;
    width: 100%;
    font-size: 18px;
    color: #333;
}

.acciones-tarjeta {
    display: flex;
    gap: 15px;
}

.acciones-tarjeta button {
    border: none;
    padding: 7.5px;
    text-transform: uppercase;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
}

.btn-mas-info {
    background-color: #007bff;
}

.btn-mas-info:hover {
    background-color: #0056b3;
}

.btn-carrito {
    background-color: #28a745;
}

.btn-carrito:hover {
    background-color: #218838;
}

/*********/
/*Divisor*/
/*********/
.divisor-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 90px;
}
  
.divisor {
    border: none;
    height: 2px;
    background-color: #ddd;
    width: 100%;
}

/*Seccion carta*/
.seccion-carta {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/*.seccion-carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}*/

.filtros {
    box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
}

.filtros select {
    height: 36px;
    font-size: 18px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    padding: 3.75px;
}

.grid-carta {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.tarjeta-menu img {
    width: 100%;
    display: block;
}

/*.paginacion {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 7.5px;
    justify-content: center;
}

.paginacion-btn {
    background-color: #111;
    border: none;
    color: white;
    padding: 3.75px 7.58px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    border-radius: 3.75px;
}

.paginacion-btn:hover {
    background-color: #333;
}

.paginacion-btn.active {
    background-color: #f57c00;
    color: #000;
}

.paginacion-btn:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}*/

/******************/
/*Seccion contacto*/
.info-contacto-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.info-contacto-container > div {
    width: calc(50%);
}

.info-contacto,
.formulario-contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-contacto span {
    display: flex;
    align-items: center;
    gap: 7.5px;
    font-size: 21px;
}

.info-contacto span i {
    color: #E63946;
}

.formulario-contacto form input {
    height: 45px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 7.5px;
}

.formulario-contacto form textarea {
    height: 90px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: 1px solid #ddd;
    resize: none;
    padding: 7.5px;
}

.formulario-contacto form button {
    margin: auto;
    width: auto;
    background-color: #28A745;
    padding: 7.5px 15px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
}

.mapa {
    height: 300px;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.1);
}

.mapa iframe {
    width: 100%;
    height: 100%;
}

/********/
/*Footer*/
.footer-principal {
    background-color: #111;
    padding: 15px 30px;
}

.info-contacto-footer-container {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.info-contacto-footer {
    display: flex;
    flex-direction: column;
    gap: 3.75px;
}

.info-contacto-footer p {
    font-size: 15px;
    color: #fff;
}

.redes-sociales-footer ul {
    display: flex;
    gap: 7.5px;
    align-items: center;
}

.redes-sociales-footer ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #f57c00;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-content: center;
}

.redes-sociales-footer ul li a {
    font-size: 21px;
    color: #000;
    padding: 7.5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
}

/********/
/*Mobile*/
/********/
@media screen and (max-width: 1256px) {
    .tarjeta-menu .info-bebida {
        font-size: 15px;
    }

    .tarjeta-menu h2 {
        font-size: 24px;
    }

    .imagen-destacada span {
        font-size: 12px;
    }

    .tarjeta-menu .acciones-tarjeta button {
        font-size: 15px;
    }
}

@media screen and (max-width: 1217px) {
    .tarjeta-destacada .info-bebida {
        font-size: 15px;
    }

    .tarjeta-destacada h2 {
        font-size: 24px;
    }

    .tarjeta-destacada .acciones-tarjeta button {
        font-size: 15px;
    }
}

@media screen and (max-width: 1125px) {
    .seccion-hero {
        padding: 15px 75px;
    }

    .section {
        padding: 15px 75px;
    }

    .divisor-container {
        padding: 0 75px;
    }
}

@media screen and (max-width: 1095px) {
    .seccion-hero {
        padding: 15px 60px;
    }

    .section {
        padding: 15px 60px;
    }

    .divisor-container {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1065px) {
    .seccion-hero {
        padding: 15px 45px;
    }

    .section {
        padding: 15px 45px;
    }

    .divisor-container {
        padding: 0 45px;
    }
}

@media screen and (max-width: 1035px) {
    .seccion-hero {
        padding: 15px 30px;
    }

    .section {
        padding: 15px 30px;
    }

    .divisor-container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1005px) {
    .navegacion-principal-container {
        padding: 15px;
    }

    .seccion-hero {
        padding: 15px 15px;
    }

    .section {
        padding: 15px 15px;
    }

    .divisor-container {
        padding: 0 15px;
    }

    .footer-principal {
        padding: 15px;
    }
}

@media screen and (max-width: 975px) {
    .grid-carta {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 930px) {
    #btn-menu-desplegable {
        display: block;
    }

    .nav-menu.active {
        top: 0;
        z-index: 998;
    }

    .nav-menu {
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #111;
        transition: top 0.6s ease;
        padding: 7.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .nav-menu ul {
        flex-direction: column;
        gap: 15px;
    }
    
    .nav-menu ul li a {
        font-size: 30px;
        padding: 7.5px;
    }

    .seccion-hero {
        background-image: url('img/imagen-hero-tablet.avif');
    }

    .hero-content p {
        font-size: 18px;
    }
    
    .hero-content h2 {
        font-size: 42px;
    }

    .seccion-destacadas::-webkit-scrollbar {
        height: 3.75px;
        border-radius: 7.5px;
    }
      
    .seccion-destacadas::-webkit-scrollbar-thumb {
        background: #333;
        border-radius: 7.5px;
    }
      
    .seccion-destacadas::-webkit-scrollbar-thumb:hover {
        background: #333;
    }
      
    .seccion-destacadas::-webkit-scrollbar-track {
        background: #ddd;
    }

    .seccion-destacadas {
        flex-wrap: nowrap;
        overflow: hidden;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding-bottom: 15px;
    }

    .tarjeta-destacada {
        max-width: 360px;
        flex-shrink: 0;
    }

    .info-contacto span {
        font-size: 18px;
    }

    .info-contacto-footer-container {
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 735px) {
    .tarjeta-destacada {
        max-width: 330px;
    }

    .grid-carta {
        grid-template-columns: repeat(2, 1fr);
    }

    .info-contacto span {
        font-size: 15px;
    }

    .formulario-contacto form input {
        height: 30px;
        font-size: 15px;
    }
    
    .formulario-contacto form textarea {
        height: 60px;
        font-size: 15px;
    }

    .formulario-contacto form button {
        font-size: 15px;
    }
}

@media screen and (max-width: 495px) {
    .logo {
        width: 75px;
        height: 75px;
    }

    .tarjeta-destacada {
        max-width: 300px;
    }

    .grid-carta {
        grid-template-columns: repeat(1, 1fr);
    }

    .tarjeta-menu .info-bebida {
        font-size: 18px;
    }

    .info-contacto-container {
        flex-direction: column;
    }

    .info-contacto-container > div {
        width: calc(100%);
    }

    .info-contacto span {
        font-size: 18px;
    }

    .formulario-contacto form input {
        height: 39px;
        font-size: 18px;
    }
    
    .formulario-contacto form textarea {
        height: 78px;
        font-size: 18px;
    }

    .formulario-contacto form button {
        font-size: 15px;
    }

    .mapa {
        height: 270px;
    }

    .info-contacto-footer p {
        font-size: 13px;
    }
}

@media screen and (max-width: 475px) {
    #btn-menu-desplegable {
        font-size: 27px;/*24*/
    }
    
    .seccion-hero {
        background-image: url('img/imagen-hero-mobile.avif');
    }
}

@media screen and (max-width: 361px) {
    .tarjeta-destacada {
        max-width: 270px;
    }

    .tarjeta-destacada .info-bebida {
        font-size: 13px;
    }

    .info-contacto-footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .redes-sociales-footer {
        margin: auto;
    }
}

@media screen and (max-width: 288px) {
    .tarjeta-menu .info-bebida {
        font-size: 15px;
    }

    .info-contacto span {
        font-size: 15px;
    }

    .formulario-contacto form input {
        height: 30px;
        font-size: 15px;
    }
    
    .formulario-contacto form textarea {
        height: 60px;
        font-size: 15px;
    }
    
    .formulario-contacto form button {
        padding: 7.5px;
        font-size: 12px;
    }
    
    .mapa {
        height: 240px;
    }
}